<!DOCTYPE html>
<html>
    <head>
        <title>
            Page Not Found
        </title>
    </head>
    <body>
        <div class="block" style="padding:75px; font-family:fantasy;">
        <h1 style="text-align:center">404 Page Could Not Be Found</h1>
        </div>
    </body>
</html>
